@using TYLGallery.Common

@{
    ViewBag.Title = "Choices";
    ViewBag.Heading = "My Choices";
}

@section scripts{
    @Scripts.Render("~/Scripts/TylChoices.js");
}

<div ng-controller="ChoicesController" ng-init="init()">
    <div id="ChoicesDiv">
    </div>
    <div>
        <div ng-bind="textMsg" ng-show="showMsg" class="bg-danger"></div>

        <table class="table table-striped" ng-cloak ng-show="choices.length !== 0">
            <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Your choice
                </th>
            </tr>
            </thead>
            <tr ng-repeat="choice in choices">
                <td>
                    <img ng-src="{{choice.Image.ImageData}}" class="img-responsive" style="max-height: 140px;" ng-cloak/>
                </td>
                <td ng-cloak>
                    <span ng-class="getTextClass(choice.Feedback)" style="font-weight: bold;"><span class="glyphicon" ng-class="getIconClass(choice.Feedback)" ng-cloak></span> {{choice.Feedback}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>

