@using TYLGallery.Common

@{
    ViewBag.Title = "Home Page";
    ViewBag.Heading = "Gallery";
}

@section scripts{
    @Scripts.Render("~/Scripts/TYLIndex.js")
}


<div data-ng-controller="IndexController">
    <div id="IndexDiv"></div>
    <h4> Please click the button below to get next image </h4>
    <button class="btn-primary btn responsive-button responsive-main-button" value="Get Image" ng-click="GetImage()">Get Image</button>
    <div ng-show="showMsg" ng-class="msgClass" class="h4" ng-cloak>
        <div ng-bind="textMessage"></div>
    </div>
    <div ng-show="isVisible">
        <div ng-show="areFeedbackOptionsVisible" ng-cloak class="row text-center extra-top-padding">
            <span class="col-sm-1 col-sm-offset-5"><button class="btn responsive-button btn-success" type="button" ng-click="SaveAction('@Feedback.Like.ToString()')"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button></span>
            <span class="col-sm-1"><button class="btn responsive-button btn-danger" type="button" ng-click="SaveAction('@Feedback.Dislike.ToString()')"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></span>
        </div>
        <img ng-src="{{imageSrc}}" class="img-responsive center-block extra-top-padding" ng-cloak/>
    </div>

</div>