
@{
    ViewBag.Title = "Upload";
    ViewBag.Heading = "Upload Images";
}

@section scripts{
    @Scripts.Render("~/bundles/ngUpload")
    @Scripts.Render("~/Scripts/TYLUpload.js")
}

<div id="uploadDiv" data-ng-controller="UploadController">
    <input type="file" accept="image/*" ngf-select ng-model="file" /><br />
    <ul>
        <li>
            Name: <span ng-bind="file.name"></span><br />
        </li>
        <li>
            <button ng-click="UploadFile(file)" ng-hide="isUploading">Upload</button>
            <label ng-bind="textMessage" ng-class="messageClass"></label>
        </li>
    </ul>
</div>
